**Libraries**

In [1]:
import pandas as pd
import json
import numpy as np

# Radar chart - Data generation

> The main goal of this notebook is to preprocess data so that it fits the required format when uploading to `scriptRadar.js` and `radarChart.js`.

**Functions**

In [2]:
def attributes_by_gender(df, attributes):
    ''' Given a list of attribues, computes mean of each attribute values given during questionnaries, by gender.
    
        Parameters 
        -----------
            df : [DataFrame] : Initial df containing iid, wave, gender and attribute list
            attributes : [List] : List containing column names for attributes to be grouped
            
        Output
        -----------
            DataFrame by gender, containing mean values for each attribute in "attributes" list '''
    
    df_temp = df[['iid', 'wave', 'gender'] + attributes]
    df_res = df_temp.drop_duplicates().dropna() # Remove duplicates as each candidate has several entries in initial dataframe
    df_res = df_res[['gender'] + attributes].groupby('gender').mean()
    df_res = df_res.reset_index()
    
    return df_res

### 1. Load Data

In [3]:
# Path to data
path = '../data'

In [4]:
df = pd.read_csv(f'{path}/SpeedDating.csv', encoding='latin1')
df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

### 2. Preprocessing

Data must respect a specific shape to be processed into **radar chart** in javascript.  
Below, we computes mean values for following attributes :  
* `attr` : Attractiveness  
* `sinc` : Sincerity  
* `intel` : Intelligence  
* `fun` : Fun  
* `amb` : Ambition  

These values are computed at 3 different steps in the Speed Dating process : **before**, **during** and **after** it.  

Four questions are answered by candidates (for each one of them, candidates chose corresponding values for attributes). Refer to [official documentation](https://perso.telecom-paristech.fr/eagan/class/igr204/data/SpeedDatingKey.pdf) for more information about these questions.  
In the table below, these questions are encoded from 1 to 4.  

**Note** : The `question` column in result table is encoded. Its values are composed by 2 elements :  
* first digit : number of question (from 1 to 4)  
* second digit : time at which question was asked (from 1 to 3)

In [14]:
key = ['iid', 'wave', 'gender']
name_attributes = ['attr', 'sinc', 'intel', 'fun', 'amb'] # Names of attributes to deal with
num_times = 3
num_questions = 4

# Initial radar DataFrame
df_radar = pd.DataFrame([])

for time in range(num_times):
    
    for question in range(num_questions):
        
        list_attributes = []

        for attr in name_attributes:
            list_attributes.append(f'{attr}{question+1}_{time+1}')

        # Preprocess data : computes mean of attributes by gender
        df_res = attributes_by_gender(df, list_attributes)

        # Preprocess data : computes mean of attributes in total
        df_res_tot = pd.DataFrame(df_res.mean(axis=0)).T

        # Add information about question and time in dataframes
        df_res['question'] = int(str(question+1) + str(time+1))
        df_res_tot['question'] = int(str(question+1) + str(time+1))
        df_res.columns = ['gender'] + name_attributes +  ['question']
        df_res_tot.columns = ['gender'] + name_attributes +  ['question']

        # Concat results in radar DataFrame
        df_radar = pd.concat([df_radar, df_res, df_res_tot], axis=0)

In [15]:
df_radar.head()

   gender       attr       sinc      intel        fun        amb  question
0     0.0  18.020372  18.222230  20.971004  17.299108  12.818476        11
1     1.0  27.008864  16.389707  19.419560  17.592051   8.823956        11
0     0.5  22.514618  17.305969  20.195282  17.445580  10.821216        11
0     0.0  35.600632  11.284535  12.478439  19.051636   9.114387        21
1     1.0  24.884526  15.108467  16.354270  18.044416  14.357482        21

### 3. Save data

In [ ]:
preprocessed_path = '../webapp/preprocessed_data'

In [ ]:
df_radar.to_csv(f'{preprocessed_path}/radar_all.csv')

# Flower Chart - Data generation

In [5]:
df_temp_flower = df[['gender', 'age',
                     'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1',
                     'attr4_1','sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1']]
df_flower = df_temp_flower.dropna(axis=0).reset_index(drop=True)


print(f'Nous gardons les lignes qui ont des donnÃ©es sur l\'ensemble des colonnes listÃ©es: {len(df_flower)/len(df_temp_flower):.0%}')

Nous gardons les lignes qui ont des donnÃ©es sur l'ensemble des colonnes listÃ©es: 77%

In [6]:
df_flower

,gender,age,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1
0,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,10.0,7.0,7.0,7.0,5.0,7.0
1,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,10.0,7.0,7.0,7.0,5.0,7.0
2,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,10.0,7.0,7.0,7.0,5.0,7.0
3,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,10.0,7.0,7.0,7.0,5.0,7.0
4,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,10.0,7.0,7.0,7.0,5.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6440,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.0,0.0,0.0,0.0,0.0,10.0
6441,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.0,0.0,0.0,0.0,0.0,10.0
6442,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.0,0.0,0.0,0.0,0.0,10.0
6443,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.0,0.0,0.0,0.0,0.0,10.0
6444,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.0,0.0,0.0,0.0,0.0,10.0

In [7]:
''' On normalise Ã  100 les attr4'''
cols_attr4 = ['attr4_1','sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1']
for row in range(len(df_flower)):
    sum_attr4 = df_flower[cols_attr4].iloc[row,].sum() 
    if sum_attr4 != 100:
        for col in cols_attr4:
            df_flower.at[row, col]  = round(df_flower[col].iloc[row,]/sum_attr4*100, 2)

In [8]:
df_flower[cols_attr4].sum(axis="columns").sum()/len(df_flower)

100.0009449185415

In [9]:
df_flower

,gender,age,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1
0,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,23.26,16.28,16.28,16.28,11.63,16.28
1,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,23.26,16.28,16.28,16.28,11.63,16.28
2,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,23.26,16.28,16.28,16.28,11.63,16.28
3,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,23.26,16.28,16.28,16.28,11.63,16.28
4,0,27.0,16.67,16.67,16.67,16.67,16.67,16.67,23.26,16.28,16.28,16.28,11.63,16.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6440,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.00,0.00,0.00,0.00,0.00,10.00
6441,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.00,0.00,0.00,0.00,0.00,10.00
6442,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.00,0.00,0.00,0.00,0.00,10.00
6443,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.00,0.00,0.00,0.00,0.00,10.00
6444,1,25.0,70.00,0.00,15.00,15.00,0.00,0.00,90.00,0.00,0.00,0.00,0.00,10.00

In [10]:
df_flower_ag = df_flower.groupby(["gender", "age"]).mean()
df_flower_ag["nb_instances"] = df_flower.groupby(["gender", "age"]).count()["attr1_1"]
df_flower_ag.reset_index(inplace=True)
df_flower_ag

,gender,age,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,nb_instances
0,0,21.0,26.153846,22.153846,17.538462,15.384615,7.384615,11.384615,46.307692,7.384615,11.384615,12.846154,11.769231,10.307692,65
1,0,22.0,15.431159,18.359783,19.624275,18.116304,13.789855,14.677899,21.822464,16.446667,16.491594,17.980580,13.901232,13.358551,276
2,0,23.0,18.132997,17.314409,19.695389,19.606916,13.112104,12.772622,27.907839,12.617896,15.123026,17.733689,12.366945,14.255159,347
3,0,24.0,19.925498,19.095448,19.576517,16.570050,13.904502,10.927985,29.987662,13.486468,14.547413,16.847463,10.756244,14.374279,402
4,0,25.0,15.950954,18.805450,21.084469,18.722071,12.784741,12.653406,23.718801,13.340054,15.531335,19.182016,15.010899,13.216894,367
5,0,26.0,18.680024,17.207573,20.427112,17.480752,12.719102,13.220558,28.412063,11.826626,16.001869,16.240218,16.115947,11.403811,412
6,0,27.0,18.488550,18.159849,18.310906,17.290363,13.294592,14.456647,27.064350,13.796858,14.776073,18.000846,13.572900,12.793233,331
7,0,28.0,15.406806,19.204861,23.586181,16.564514,13.066111,12.170833,32.423958,10.145764,13.580625,16.260903,15.714167,11.878472,288
8,0,29.0,20.913208,21.781761,21.645912,14.420755,8.829560,12.410692,23.123270,16.358491,16.200629,15.119497,14.111321,15.085535,159
9,0,30.0,15.387006,18.620339,20.741243,15.972881,11.862712,16.173446,22.690508,15.782147,16.672542,14.956045,17.358983,12.540000,177
10,0,31.0,12.955556,20.433333,21.974074,15.537037,15.322222,13.777778,17.462963,16.011111,15.889630,16.497037,18.378519,15.771111,54
11,0,32.0,10.384615,14.230769,33.461538,10.000000,15.000000,16.923077,28.461538,11.923077,17.692308,15.000000,8.000000,18.923077,39
12,0,33.0,22.946240,21.626240,18.266240,12.066240,13.493760,11.600000,26.366960,16.464480,13.518480,17.828880,13.675760,12.146720,125
13,0,34.0,12.892308,25.538462,17.923077,17.876923,11.153846,14.615385,27.076923,13.538462,15.384615,20.000000,11.846154,12.153846,65
14,0,35.0,15.052381,17.235714,25.330952,15.569048,15.052381,11.759524,22.840476,13.721429,14.828571,24.507143,12.054762,12.047619,42
15,0,36.0,17.035200,17.035200,17.035200,18.835200,15.929600,14.129600,20.000000,12.131200,13.558400,20.000000,15.731200,18.579200,25
16,0,38.0,15.000000,15.000000,20.000000,15.000000,15.000000,20.000000,20.000000,15.000000,15.000000,20.000000,15.000000,15.000000,19
17,0,55.0,25.000000,0.000000,25.000000,25.000000,0.000000,25.000000,20.000000,20.000000,10.000000,15.000000,20.000000,15.000000,6
18,1,20.0,30.000000,10.000000,10.000000,30.000000,10.000000,10.000000,30.000000,20.000000,10.000000,30.000000,5.000000,5.000000,15
19,1,21.0,25.136585,9.051220,25.541463,11.234146,11.219512,17.819512,23.553659,12.614634,18.712195,16.273171,10.053659,18.797561,41
20,1,22.0,22.024932,18.348767,19.565479,16.757260,10.981370,12.323288,24.542192,16.261096,14.466301,18.357260,11.720000,14.652055,146
21,1,23.0,24.685500,16.662750,17.680875,19.304875,9.247750,12.418750,29.894375,13.041875,13.478875,21.032000,7.858250,14.694500,320
22,1,24.0,22.128483,16.251084,21.177709,17.288545,11.165635,11.987926,30.229412,13.224954,14.224830,19.551950,10.383591,12.385263,323
23,1,25.0,30.107986,16.743403,18.138194,18.215278,7.991319,8.804514,39.551042,10.892708,13.062500,16.064931,8.620833,11.808333,288
24,1,26.0,24.613027,17.934660,20.500136,17.480374,9.009456,10.463027,27.216156,14.238741,15.147075,19.880918,8.939932,14.577245,294
25,1,27.0,25.506454,17.368443,18.696886,18.538687,9.317486,10.572795,31.579812,12.382477,14.206492,18.093246,9.957899,13.779137,533
26,1,28.0,22.434013,18.602441,18.268662,17.240502,10.689532,12.664783,35.948161,12.794548,10.934247,21.017793,8.260234,11.045385,299
27,1,29.0,34.452455,15.737485,16.063234,16.338683,7.979850,9.429102,29.248174,13.617096,15.146048,17.399790,11.773683,12.816737,334
28,1,30.0,31.264377,13.403367,20.522155,19.370370,5.076768,10.363636,38.081212,8.417643,15.329428,20.002694,7.576970,10.592054,297
29,1,31.0,19.797183,13.459155,25.712676,15.994366,9.670423,15.369014,23.591549,11.566197,17.895775,20.228169,7.974648,18.749296,71
30,1,32.0,25.124444,13.850370,19.665185,20.220741,9.364074,11.773704,27.088519,14.014444,15.711481,20.303333,9.444444,13.436667,135
31,1,33.0,21.083333,19.416667,16.000000,16.000000,11.000000,16.500000,23.332500,17.739167,17.856667,14.285833,12.023333,14.762500,36
32,1,34.0,29.372464,15.169565,24.155072,13.430435,7.995652,9.879710,32.850725,24.010145,12.995652,16.039130,5.242029,8.865217,69
33,1,36.0,19.400000,14.200000,16.600000,16.600000,16.600000,16.600000,28.000000,11.750000,11.750000,16.250000,20.500000,11.750000,20
34,1,37.0,18.750000,16.670000,18.750000,20.830000,12.500000,12.500000,21.280000,19.150000,17.020000,19.150000,6.380000,17.020000,5
35,1,42.0,23.810000,23.810000,23.810000,23.810000,2.380000,2.380000,16.670000,16.670000,16.670000,16.670000,16.670000,16.670000,20

In [15]:
preprocessed_path = '../webapp/static/preprocessed_data'

In [16]:
df_flower.to_csv(f'{preprocessed_path}/flower_data.csv', index=False)

In [17]:
df_flower_ag.to_csv(f'{preprocessed_path}/flower_data_aggregated.csv', index=False)